@charset "utf-8";
.wrap {
  width: 980px;
  margin: 0 auto;
}
.hd {
  width: 100%;
  background-color: #50c3af;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.db {
  display: block;
}
.di {
  display: inline;
}
.dib {
  display: inline-block;
}
.tc {
  text-align: center;
}
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.sidebar-form {
  width: 260px;
  background: #ffffff none repeat scroll 0 0;
  float: right;
  margin-bottom: 10px;
}
/*gallery*/
body {
  min-width: 980px;
  background-color: #e2e2e2;
}
* {
  margin: 0;
  padding: 0;
  font-family: Microsoft YaHei, sans-serif;
}
a {
  color: #ffffff;
  text-decoration: none;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: outside none none;
}
/*header*/
header {
  width: 100%;
  background-color: #50c3af;
  height: 80px;
  position: relative;
}
.nav-wrap {
  width: 980px;
  height: 80px;
  margin: 0 auto;
  position: relative;
}
.hd-logo {
  position: absolute;
  top: 40px;
  float: left;
}
.hd-nav {
  position: absolute;
  bottom: 5px;
  width: 100%;
}
.hd-nav ul {
  float: right;
}
.hd-nav li {
  font: 14px SimSun, sans-serif;
  float: left;
  margin-left: 28px;
}
.icon-github {
  position: absolute;
  right: 10px;
  bottom: 0;
}
/*content*/
.blog-content {
  width: 980px;
  margin: 20px auto 100px;
}
.blog-main-wrap {
  width: 710px;
  float: left;
}
article {
  margin-bottom: 10px;
  background: #ffffff none repeat scroll 0 0;
  padding: 20px;
  position: relative;
}
article h2 {
  font-size: 16px;
  color: #50c3af;
  margin-bottom: 10px;
}
article h3 {
  font-size: 12px;
  color: #666;
  margin-bottom: 15px;
}
article p {
  font-size: 12px;
  text-indent: 2em;
  margin-bottom: 30px;
}
article section {
  text-align: right;
  font-size: 10px;
  color: #888888;
}
.tag {
  width: 50px;
  font-size: 14px;
  color: #ffffff;
  position: absolute;
  left: -50px;
}
.tag-date {
  text-align: center;
  background: #50c3af none repeat scroll 0 0;
  height: 40px;
  line-height: 40px;
}
.tag-name {
  text-align: center;
  background: #297338 none repeat scroll 0 0;
  height: 40px;
  line-height: 40px;
}
.pagination {
  margin: 0 auto 100px;
  width: 550px;
}
.pagination li {
  float: left;
  background: #ffffff none repeat scroll 0 0;
  font-size: 12px;
  padding: 12px 15px;
  margin: 0 5px;
}
.pagination a {
  color: #000;
  text-align: center;
}
.search {
  height: 40px;
  border: 1px solid #e2e2e2;
  position: relative;
  margin: 20px;
}
.keyword {
  border: medium none;
  height: 40px;
}
.submit {
  background: #e2e2e2 none repeat scroll 0 0;
  color: #ffffff;
  width: 50px;
  height: 40px;
  font-size: 18px;
  border: medium none;
  position: absolute;
  right: 0;
  top: 0;
}
.side-section {
  border-color: #50c3af;
  border-style: solid;
  border-width: 0 0 1px 5px;
  color: #888888;
  font-size: 14px;
  line-height: 50px;
  padding-left: 20px;
}
.calendar {
  width: 220px;
  height: 220px;
  margin: 20px;
  text-align: center;
  color: #888888;
  font-size: 12px;
  border-collapse: collapse;
}
.side-tags {
  box-sizing: border-box;
  padding: 15px;
  margin-bottom: 100px;
}
.side-tags h3 {
  font-size: 12px;
  color: #888888;
  margin-bottom: 20px;
}
.side-tags p {
  font-size: 12px;
  color: #50c3af;
}
.tags-big {
  font-size: 30px;
}
.tags-small {
  font-size: 20px;
}
/*footer*/
footer {
  width: 100%;
  background-color: #50c3af;
  clear: both;
  font-size: 13px;
}
.ft-nav ul {
  float: left;
  padding: 10px 0;
  position: relative;
  left: 50%;
}
.ft-nav li {
  float: left;
  margin: 0 12px;
  position: relative;
  left: -50%;
}
.ft-wrap {
  clear: both;
  width: 980px;
  margin: 10px auto 100px;
  overflow: hidden;
  text-align: center;
}
.ft-column {
  width: 196px;
  float: left;
}
.ft-column h3 {
  color: #ffffff;
  font-size: 12px;
  margin: 40px 0 30px;
}
.ft-column li {
  line-height: 170%;
}
.ft-column li:hover {
  color: #fff;
  text-decoration: underline;
}
.copyright {
  text-align: center;
}
.copyright p {
  color: #ffffff;
  margin-bottom: 30px;
}
